<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TASKs - Cadastro</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1><span class="logo">⚒</span> - TASKs</h1>
        </header>

        <main>
            <form class="register-form">
                <label for="name">NOME:</label>
                <input type="text" id="name" placeholder="Digite seu nome completo">
                
                <label for="email">E-MAIL:</label>
                <input type="email" id="email" placeholder="Digite seu e-mail">
                
                <label for="password">SENHA:</label>
                <input type="password" id="password" placeholder="Crie uma senha">

                <label for="confirm-password">CONFIRME A SENHA:</label>
                <input type="password" id="confirm-password" placeholder="Confirme sua senha">

                <button type="submit">CADASTRE-SE</button>
            </form>
        </main>
    </div>
    <script src="/js/cadastro.js"></script>
</body>
</html>
