<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TASKs</title>
    <link rel="stylesheet" href="/CSS/style_2.css">
</head>
<body>
    <div class="header">
        <h1><span class="logo">⚒</span> - TASKs</h1>
    </div>
    
    <div class="container">
        <nav class="sidebar">
            <ul>
                <li><a class="borda-radius" href="/home"><img src="/img/home_icon.png" alt="Home icon"> HOME</a></li>
                <li><a href="/newtask"><img src="/img/add_icon.png" alt="Cadastrar Task icon"> NOVA TASK</a></li>    
                <li><a href="/tasks"><img src="/img/task_icon.png" alt="Tasks icon"> TASKS</a></li>
                <li><a href="/profile"><img src="/img/profile_icon.png" alt="Perfil icon"> PERFIL</a></li>
            </ul>
        </nav>
        
        <div class="content-home">
            <a class="card-home" href="/newtask">
                <img src="/img/lightbulb_icon.png" alt="Lâmpada icon">
                <p>Elabore e cadastre uma task na plataforma.</p>
            </a>
            <a class="card-home" href="/tasks">
                <img src="/img/tasks_icon.png" alt="Tasks icon">
                <p>Veja as suas tarefas e de outros membros.</p>
            </a>
        </div>
    </div>
</body>
</html>
